certifi
cycler
imageio
kiwisolver
matplotlib
mkl-fft
mkl-random 
mkl-service
networkx
numpy 
olefile 
opencv-python
pandas
Pillow
prettytable
protobuf
pyparsing
python-dateutil
pytz
PyWavelets
scikit-image
scipy
six 
tensorboardX
tifffile
torch
torchaudio
torchsummary
torchvision
tqdm
typing-extensions 
wcwidth
